---
interface Props {
  route: string;
}

const { route } = Astro.props;
const isUrlInCurrentLink = Astro.url.pathname == route;
// const isUrlInCurrentLink = Astro.url.pathname == route;
---

<!-- <a href={route} class=`nav-item nav-link ${isUrlInCurrentLink? 'underline': 'none'` >{title}</a> -->
<a
  href={route}
  class=`nav-item nav-link ${isUrlInCurrentLink? 'active': 'none'}`
>
  <slot />
</a>
